{% extends "base.html" %}

{% block home %}
{% for book in all_books %}
    <div class="title">
        {{book.title}}
    </div>

    <div class="genre">
        {{book.genre}}
    </div>
        <div class="publisher">
            {{book.publisher}}
        </div>
        <div class="author">
            {{book.author.first_name}} {{book.author.last_name}}
         </div>
         <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
          </form>
                
            

    
{% endfor %}

{% endblock home%}